<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">

<script src="/scripts/jquery-ui.min.js"></script>

<style>
	.friend_footer{

		z-index: 2;
		position: fixed;
		width: 100%;
		background-color: grey;
		height: 3em;
		bottom: 0%;
		color: red;
	}



	.friends_list{
		display: none;
		position: fixed;
		z-index: 2;
		background-color: grey;
		height: 50%;
		width: 15%;
		bottom: 6%;
		right: 0%;
		
		overflow-x: hidden;
		white-space:  nowrap;
		text-overflow: ellipsis;

	}

	.friends_list .menubar{
		color: black;
		position: absolute;
		height: 30px;
		width: 100%;
		background-color: black;
	}

	.friends_list .menubar .refresh_friends{
		background-color: white;
		position: absolute;
		display: inline-block;
		right: 0%;
		height: 100%;
		width: 30px;

	}
	.ui-icon2 {
		width: 16px; 
		height: 16px; 
		background-image: url(/css/images/ui-icons_444444_256x240.png);
		float: left;
		display: inline-block;
		margin-left: 5px;
		margin-top: 5px;

	}
	.x2{
		transform: scale(2);
	}
	.friends{
		position: absolute;
		max-height: 90%;
		bottom: 0%;
		list-style: none;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.friends li{
		font-size: 200%;

		color: black;
		text-decoration: none;
		
	}
	.friends li:hover{
		background-color: orange;
	}
	.friends .convo_name{
		margin-left: 20px;
	}
	.online_box{

		position: absolute;
		display: inline-block;
		margin: 0;
		margin-top: 11px;
		width: 15px;
		height: 15px;
		background-color: green;
	}

	.chat_box{
		border: solid 1px;
		display: none;
		z-index: 10;
		position: fixed;
		background-color: darkgrey;
		height: 30%;
		width: 20%;
		right: 16%;
		bottom: 6%;
	}

	.chat_box_area{
		height: 70%;
		width: 100%;
		display: inline-block;
		background-color: lightgrey;
		overflow-y: scroll;
		overflow-x: hidden;
		word-wrap: break-word;
		
	}
	.chatbox_functions{
		width: 100%;
		position: absolute;
		display: block;
		bottom: 0%;
	}

	.chat_box form{
		display: block;
	}
	.chat_box_text{
		float: left;
		width: 100%;
	}
	.chat_box_text_span{
		display: block;
		overflow: hidden;

	}
	.chat_box_button{
		float: right;
	}
	.chat_box_title{
		font-size: 130%;
		display: inline-block;
	
	}
	.chat_box_icons{
		margin: 0;
		position: absolute;
		display:inline-block;
		right:3px;
		top: 0px;
		
	}
	.friends_list span{
		white-space: nowrap;
	}

	.toggle_friend_list{
		width: 3vw;
		height: 100%;
		background-color: black;
		float: right;
	}

	.friend_footer_content{
		width: 100%;
		
		position: relative;
		height: 100%;
		float: right;
	}
	.convo_tabs_bar{
		
		color: blue;
		right: 0%;
		height: 100%;
		
		
	}
	.convo_tab{
		color: black;
		float: right;
		font-size: 150%;
		overflow-x: hidden;
		width: 5%;
		display: inline-block;
		height: 100%;
		margin-right: .5em;
		border: solid 1px;
		background-color: lightblue;
		
	}
	.new_messages{
		animation: blink 1.5s cubic-bezier(.5,0,1,1) infinite alternate;
	}
	.minimize_chat{
		margin-right: 10px;
	}
	@keyframes blink { to {background-color: yellow;} }
</style>
<div class="friend_footer">
	<div class="friend_footer_content">
		<div class="toggle_friend_list">
			
		</div>
		<div class="convo_tabs_bar">

		</div>
	</div>
</div>
<div class="friends_list">
	<div class="menubar">
		<div class="refresh_friends">

			<span class="ui-icon2 x2 ui-icon-refresh"></span>
		</div>
	</div>
	<ul class='friends'>

	</ul>
</div>

<div class="chat_box" convo_id="template">
	<div class="chat_box_title">
		Rawr
	</div>
	
	<div class="chat_box_icons">
		
		<span class="minimize_chat ui-icon2 x2 ui-icon-arrowthickstop-1-s"></span>

		<span class="close_chat ui-icon2 x2 ui-icon-close"></span>
	</div>
	<div class="chat_box_area">
		<div class="chat_box_content" id='chat_box_convo'>

		</div>
	</div>
	<div class="chatbox_functions">
		<form>
			<span class="chat_box_text_span">
				<input type="text" class="chat_box_text" id="chat_box_text" placeholder="Message"/>
			</span>
			<button type=submit id="chat_box_message" class="chat_box_message button raised bg-blue-500 chat_box_button">Send</button>
		</form>
	</div>
</div>




<script>


	var convo_list = {};
	var next_z_index = 10;
	var current_convo_selected = null;
	var hidden_chat_box = true;
	var hidden_friends_list = true;
	var socket;
	$(document).ready(function(){
		$('body').on('click','.close_chat',function(e){
			var chat = $(this).parent().parent();
			var convo_id = chat.attr('convo_id');
			convo_list[''+convo_id].open = false;
			convo_list[''+convo_id].minimized = false;
			convo_list[''+convo_id].new_message = false;
			chat.remove();
			
		});
		$('body').on('click','.minimize_chat',function(e){
			var chat = $(this).parent().parent();
			var convo_id = chat.attr('convo_id');
			
			convo_list[''+convo_id].minimized = true;
			convo_list[''+convo_id].new_message = false;
			$('.convo_tabs_bar').append('<div class="convo_tab" convo_id="'+convo_id+'">'+convo_list[''+convo_id].email+'</div>');
			chat.hide();
			
		});

		$('body').on('click','.convo_tab', function(e){
			var tab = $(this);
			var convo_id = tab.attr('convo_id');
			tab.remove();
			unminimize(convo_id);
			
		});
		$('body').on('submit', '.chat_box',function (e){
			e.preventDefault();
			var send_to_convo = $(e.target).parent().parent().attr("convo_id");
			var text_field =  $(e.target).find('.chat_box_text');
			var message = text_field.val();
			if (message == ''){
				event.preventDefault();
				swal({title: "Problem",
				text: "Cannot send a blank message."});
			}
			else{
				var socket_message = {
					convo_id : send_to_convo,
					content : message

				};
				socket.emit('chat_msg', socket_message);
				$.ajax({
					type: "POST",
					url: "/friends/request/convo/send_message",
					data: {convo_id: send_to_convo, message: message},
					success: function(msg){
						request = msg['request'];
						if (request == "success"){
							text_field.val("");
						}
						else{
							alert(msg['error']);
						}
					}
				});

			}
		});
			

		$('.toggle_friend_list').click(function(e){
			toggle_list();
		})
		$('.refresh_friends').click(function(e){

			socket.emit('request_convo_list', getCookie('token'));
		})

		$('.friends_list').on('click', 'li',function(){

			//$('.chat_box').show();
			current_convo_selected = this.getAttribute("convo_id");
			clicked_convo_id = current_convo_selected;

			if (convo_list[clicked_convo_id]){

				cur = convo_list[clicked_convo_id];
				if (cur.open == true){

					if (cur.minimized == true){
						$('.chat_box[convo_id='+clicked_convo_id+']').show();
						$('.convo_tab[convo_id='+clicked_convo_id+']').remove();
						cur.minimized = false;
					}
					else{
						$('.chat_box[convo_id='+clicked_convo_id+']').css('z-index',next_z_index);
						next_z_index++;
						//Flash or something
					}
				}
				else{

					clone = $('.chat_box[convo_id=template]').clone();
					$('body').append(clone);
					clone.find('.chat_box_title').text(cur.email);
					clone.attr('convo_id',clicked_convo_id);
					clone.css('z-index', next_z_index);
					next_z_index++;
					clone.draggable();
					clone.show();
					cur.open = true;
					cur.minimized = false;
					cur.new_message = false;
					load_messages(clone, clicked_convo_id);


				}
			}
			else{

			}
			/*
			var new_title = $(this).find('.convo_name').text();
			$('.chat_box_title').text(new_title);
			$('#chat_box_convo').empty();
			display_new_selected_convo();*/
		})
		socket = io('/friends');
		socket.on('connect',function()
			{
				socket.emit('setup', getCookie('token'));
			});
		socket.emit('request_convo_list', getCookie('token'));
		socket.on('msg', function (msg){
			if (typeof(convo_id) != 'undefined'){
				if (msg.convo_id == convo_id){
					$('#convo').append('<div class="message_line"><span class="email_part">'+msg.email+': </span>');

					$('#convo').append('<span class="message_part">'+msg.content+'</span></div><br>');
					$('.message_area').scrollTop($('.message_area')[0].scrollHeight);
				}
			}

			/*if (msg.convo_id == current_convo_selected){
				$('#chat_box_convo').append('<div style="display: inline-block;"><span style="display: inline-block">'+msg.email+': </span>');

				$('#chat_box_convo').append('<span>'+msg.content+'</span></div><br>');
				$('.chat_box_area').scrollTop($('.chat_box_area')[0].scrollHeight);
			}*/
			if (convo_list[''+msg.convo_id]){
				msg_to_add = {email: msg.email, content: msg.content};
				cur = convo_list[''+msg.convo_id];
				cur.messages.push(msg_to_add);
				if (cur.open == true){
					var chatbox = $('.chat_box[convo_id='+msg.convo_id+']');
					chatbox.find('.chat_box_content').append('<div style="display: inline-block;"><span style="display: inline-block">'+msg.email+': </span>');
					chatbox.find('.chat_box_content').append('<span>'+msg.content+'</span></div><br>');
					chatbox.find('.chat_box_area').scrollTop($('.chat_box_area')[0].scrollHeight);

					if (cur.minimized == true){
						var tab = $('.convo_tab[convo_id='+msg.convo_id+']');
						tab.addClass('new_messages');
					}
				}
				else{
					clone = $('.chat_box[convo_id=template]').clone();
					$('body').append(clone);
					clone.find('.chat_box_title').text(cur.email);
					clone.attr('convo_id',msg.convo_id);
					clone.css('z-index', next_z_index);
					next_z_index++;
					clone.draggable();
					
					cur.open = true;
					cur.minimized = true;
					cur.new_message = true;
					load_messages(clone, msg.convo_id);
					$('.convo_tabs_bar').append('<div class="convo_tab" convo_id="'+msg.convo_id+'">'+msg.email+'</div>');
				}


			}
			else{
				convo_list[''+msg.convo_id] = {};
				cur = convo_list[''+msg.convo_id];
				cur.messages = [];
				cur.email = msg.email;
				cur.open = true;
				cur.minimized = true;
				cur.new_message = true;
				msg_to_add = {email: msg.email, content: msg.content}
				cur.messages.push(msg_to_add);
				
			}

		});
		socket.on('updated_convo_list', function(convos){
			update_convos(convos);
		})


	});
	
	function unminimize(convo_id){
		$('.chat_box[convo_id='+convo_id+']').show();
		$('.chat_box[convo_id='+convo_id+']').css('z-index',next_z_index);
		next_z_index++;
	}

	function display_new_selected_convo(){
		if (convo_list[current_convo_selected]){
			selected_messages = convo_list[current_convo_selected].messages;
			for (msg in selected_messages){
				$('#chat_box_convo').append('<div style="display: inline-block;"><span style="display: inline-block">'+selected_messages[msg].email+': </span>');

				$('#chat_box_convo').append('<span>'+selected_messages[msg].content+'</span></div><br>');
			}
		}
		else{
			
		}
	}
	function load_messages(chatbox, convo){
		selected_messages = convo_list[convo].messages;
		for (msg in selected_messages){
			chatbox.find('#chat_box_convo').append('<div style="display: inline-block;"><span style="display: inline-block">'+selected_messages[msg].email+': </span>');

			chatbox.find('#chat_box_convo').append('<span>'+selected_messages[msg].content+'</span></div><br>');
		}
	}
	function update_convos(convos){
		$('.friends').empty();
		for (var i = 0; i< convos.length;i++){
			var append_line = '<li convo_id="'+convos[i].convo_id+'">';
			if (convos[i].online == true){
				append_line+='<span class="online_box"></span>'
			}
			append_line+= '<span class="convo_name">'+convos[i].email+'</span>';
				append_line += '</li>'

			$('.friends').append(append_line);
			if (!convo_list[''+convos[i].convo_id]){
				convo_list[''+convos[i].convo_id] = {};
				cur = convo_list[''+convos[i].convo_id];
				cur.messages = [];
				cur.email = convos[i].email;
				cur.open = false;
				cur.minimized = false;
				cur.new_message = false;

			}

		}	
	}
	function toggle_list(){
		if (hidden_friends_list == true){
			$('.friends_list').show();
			hidden_friends_list = false;
		}
		else{
			$('.friends_list').hide();
			hidden_friends_list = true;
		}
	}

	function getCookie(cookie){
		var name = cookie + "=";
		var ca = document.cookie.split(';');
		for (var i = 0; i<ca.length;i++){
			var c = ca[i];
			while (c.charAt(0) == ' '){
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0){
				return c.substring(name.length, c.length)
			}
		}
		return "";
	}


</script>