<style>
	.top-bar{
		background-color: red;
		height: 120px;
	}

	.topright-content{
		margin-top: 1em;
		float: right;
		margin-right: 1em;
	}
	.logout-button{
		float: right;
	}
	.login-button{
		float: right;
	}

	.user-text{
		
		font-size: 200%;

		margin-right: 1em;
		float: left;
	}
	.links-bar{
		position:absolute;
		width:100%;
		height: 30px;
		background-color: pink;
		top: 90px;
		font-size: 150%;
	}
	.links-bar ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}
	.links-bar li{
		float: left;
	}
	.links-bar li a{
		display: block;
		color: white;
		text-align: center;
		padding: 0px 20px;
		text-decoration: none;
	}
	.links-bar li a:hover{
			background-color: #111;
	}
	.links-bar .active{
		background-color: blue;
	}
	.banner-text{
		display: inline-block;
		position: relative;
		left: 5%;
		font-size: 200%;
		top: 20%;

	}
	.banner-text a{
		color: white;
	}

</style>
<script>
	$(document).ready(function(){
		$('#logout').click(function(){
			window.location.replace("/users/logout");
		});
		$('#login').click(function(){
			window.location.replace("/users/login");
		});
	});
</script>
<div class="top-bar">

	<div class="banner-text">
		<a href="/users/">SPaDeS.tech</a>
	</div>	
	<div class="topright-content">
		<% if (!(email == '')) { %>
		<div class="logout-button">
			<button type="button" id="logout" class="btn btn-primary btn-lg">Logout</button>
		</div>

		<div class="user-text">
			<%- email %>
		</div>
		<% } else { %>
			<div class="login-button">
				<button type="button" id="login" class="btn btn-primary btn-lg">Login</button>
			</div>

		<% } %>

	</div>
	<div class="links-bar">
		<ul class="list-inline">

			<li><a <% if (active == 'chat'){ %>
						class =  active
					<% } %>
					href="/chat">Chat</a></li>
			<li><a <% if (active == 'lists'){ %>
 						class = active
					<% } %>
					href="/lists">Lists</a></li>

			<li><a <% if (active == 'notes'){ %>
						class =  active
					<% } %>
					href="/notes">Notes</a></li>
			<li><a <% if (active == 'friends'){ %>
						class =  active
					<% } %>
					href="/friends">Friends</a></li>

		</ul>
	</div>
</div>
