
<% include ../partials/head.ejs %>

<% include ../partials/top-bar.ejs %>

<% include ../partials/friends-sidebar.ejs %>

<% include ../partials/friends-footbar.ejs %>
<style>
	.chat_wrapper{
		width: 100%;
		left: 50%;
	}
	.message_area{
		position: relative;
		left: 17%;
		width: 50%;
		height: 65%;
		background-color: lightblue;
		margin-top: 2%;
		overflow-y: scroll;
		overflow-x: hidden;
		word-wrap: break-word;
		
	}
	.chat_functions{
		position: relative;
		width: 50%;
		left: 17%;
		

	}
	.chat_functions input{
		width: 100%;
	}
	.email_part{
		color: red;
	}
	.message_line{
		display: inline-block;
	}

</style>
<div class="chat_wrapper">
	<div class="message_area">
		<div class="message_content" id='convo'>

		</div>
	</div>
	<div class="chat_functions">
		<form>
			<input type="text" class="text-input" id="message" placeholder="Message"/>
			<button type=submit id="send_message" class="button raised bg-blue-500">Send</button>
		</form>
	</div>
</div>
	<script>
		$(document).ready(function(){
			convo_id = "<%= convo_id %>"
			var selected = null;
			$.ajax({
				type: "GET",
				url: "../friends/request/convo/"+convo_id,
				success: function(msg){
					request = msg['request'];
					messages = msg['convo']['msgs'];
					if (request == "success"){
						for (var line in messages){

							$('#convo').append('<div class="message_line"><span class="email_part">'+messages[line].email+': </span>');
							$('#convo').append('<span class="message_part">'+messages[line].content+'</span></div><br>');
						}

						$('.message_area').scrollTop($('.message_area')[0].scrollHeight);
					}
				}
			});

			$('#send_message').click(function(e){
				e.preventDefault();
				var message = $('#message').val();
				if (message == ''){
					event.preventDefault();
					swal({title: "Problem",
					text: "Cannot send a blank message."});
				}
				else{
					var socket_message = {
						convo_id : convo_id,
						content : message

					};
					socket.emit('chat_msg', socket_message);
					$.ajax({
						type: "POST",
						url: "../friends/request/convo/send_message",
						data: {convo_id: convo_id, message: message},
						success: function(msg){
							request = msg['request'];
							if (request == "success"){
								$('#message').val("");
								//$('#list').append($('<li id="list:'+$('#title').val()+'"><span class="item-text">'+$('#title').val()+'</span>'));
								//$('#title').val('')
								//window.location.reload();
							}
							else{
								alert(msg['error']);
							}
						}
					});
				}
			});
			
			

		});

	</script>