<html>
	<head>
		<% include ../partials/head %>
		<style>
			.center{
				margin: auto;
				position: fixed;
			  	top: 50%;
			    left: 50%; 
				transform: translate(-50%, -50%);
			}
			.login_button{
				width: 100%;
				height: 100%;

			}
			.login_text{
				width: 100%;
				height: 100%;
				border: 2px solid #FF5722;
    			border-radius: 10px;
    			color: white;
			}
			

		</style>
	</head>
	<body class="bg-blue-a100">
		<div class="center">
			<input type="text" class="login_text text-input bg-deep-orange-a200 color-deep-orange-a200" id="email" placeholder="Email"/>
			<input type="password" class="login_text text-input bg-deep-orange-a200 color-deep-orange-a200" id="password" placeholder="Password"/>	
			<br>
			<button id="login" class="login_button button raised bg-blue-500 color-white">Login</button>
			<br>

			<button id="signup" class="login_button button raised bg-blue-500 color-white">Create Account</button>
		</div>	
	</body>

	<script>
		$('#login').click(function(){
			$.ajax({
			type: "POST",
			url: "./request/login",
			data: {username: $('#email').val(), password: $('#password').val()},
			success: function(msg){
				login = msg['login'];
				if (login == "success"){
					window.location.replace("/notes");

				}
				else{
					alert(msg['error']);
				}
			}

			});

		});

		$('#signup').click(function(){
			$.ajax({
			type: "POST",
			url: "./request/signup",
			data: {username: $('#email').val(), password: $('#password').val()},
			success: function(msg){
				alert(msg);
			}

			});

		});
	</script>
</html>