
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<input type="text" class="text-input" id="username_to_set" placeholder="Username"/>

	<input type="password" class="text-input" id="password_to_set" placeholder="New password"/>
	<button id="set_pass" class="button raised bg-blue-500">Set</button>


	<script>
		$(document).ready(function(){
			$('#set_pass').click(function(){
				$.ajax({
					type: "POST",
					url: "../admin/request/set_pass",
					data: {user: $('#username_to_set').val(), pass: $('#password_to_set').val()},
					success: function(msg){
						request = msg['request'];
						if (request == "success"){
							alert("Password Set");
						}
						else{
							alert(msg['error']);
						}
					}
				});
			});


		});

	</script>
</html>